.bannerCategoria {
    height: 300px;
    background: #454545;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.categoria {
    width: 394px;
    margin: 0 auto;
    margin-top: 101px;
    margin-bottom: 54px;
}
.categoria ul {
    display: flex;
    justify-content: space-between;
}

.categoria li {
    list-style: none;
    display: flex;
    color: #999999;
    padding: 10px;
    height: 40px;

    text-transform: uppercase;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.categoria li:hover {
    border: 1px solid #333333;
    color: #333333;
}

.cabecalhoCategoria {
    width: 1107px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.filtroCategoria {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ordenar {
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
}

.resultadoFiltro {
    font-weight: 600;
}

.tituloFiltro {
    color: #999999;
}

.visualizar {
    display: flex;
    align-items: center;
    margin-left: 171px;
    text-transform: uppercase;
    font-weight: 600;
}

.view {
    display: flex;
    width: 103px;
    justify-content: space-between;
    color: #999999;
    font-weight: 600;
}

.viewTitulo {
    text-transform: uppercase;
}

.paginacao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.paginacao a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333333;
    font-weight: 600;
    width: 34px;
    height: 34px;
    background: #fff;
}

.paginacao a:hover {
    width: 34px;
    height: 34px;
    background: #333333;
    color: #fff;
}

.buttomPaginacao button {
    width: 34px;
    height: 34px;
    background: #ffffff;
    border: 1px solid #cccccc;
    color: #333333;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .cabecalhoCategoria {
        width: 700px;
    }
}

@media only screen and (max-width: 600px) {

    .mainCategoria{
        width: 100%;
    }
    .cabecalhoCategoria {
        width: 400px;
    }

    .resultadoFiltro{
        margin-right: 10px;
    }
    .visualizar {
        margin: 0 auto;
    }

    
}
