#banner {
    width: 100%;
    background-image: url(./img/banner.jpg);
    padding: 200px 0;
    background-repeat: no-repeat;
    background-size: auto;
}

.bannerContainer {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 100px;
    width: 600px;
    padding: 30px 70px;
}

.bannerContainer1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bannerContainer1 h1 {
    text-transform: uppercase;
    font-size: 60px;
    color: #333333;
}

.bannerContainer1 p {
    color: #777777;
    font-size: 20px;
}

.bannerContainer2,
.btnCategoria {
    width: 210px;
    height: 60px;
    background: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 100px;
}

.bannerContainer2 button,
.btnCategoria button {
    text-align: center;
    width: 199px;
    height: 50px;
    border: 1px solid #ffffff85;
    background: #333333;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}

.bannerContainer2 a,
.btnCategoria a {
    text-decoration: none;
    color: #fff;
}

h2,
h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 600;
    color: #333333;
    padding-top: 80px;
    padding-bottom: 30px;
}

.containerCategoria {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1170px;

    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.imgCategoria {
    display: flex;
    align-items: center;
}

.sessao1 {
    display: flex;
    flex-direction: column;
}

.sessao1 img {
    width: 500px;
    margin: 10px;
}

.sessao2 img {
    height: 670px;
}

.btnCategoria {
    margin: 0 auto;
}

.espaçoBTN {
    padding: 50px;
}

@media screen and (max-width: 992px) {
    .containerCategoria {
        width: 700px;
    }

    .sessao1 img {
        width: 350px;
        margin: 10px;
    }

    .sessao2 img {
        height: 470px;
    }
}

@media only screen and (max-width: 600px) {
    #banner {
        background-size: cover;
    }
    .bannerContainer {
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-bottom: 40px;
        text-align: center;
        width: 400px;
        padding: 0;
    }
    .containerCategoria {
        width: 400px;
    }

    .sessao1 img {
        width: 150px;
        margin: 10px;
    }

    .sessao2 img {
        height: 220px;
    }
}
