
.feed{
    width: 1152px;
    margin: 0 auto;

}



.card {
    width: 258px;
    height: 401px;
}

.bordaImg {
    width: 258px;
    height: 321px;
    background: #ebe9ee;
}

.contentCard{
    padding-left: 20px;
}

.card h4 {
    color: #777777;
    margin: 10px 0 10px 0;
}

.card p{
    font-weight: 600;
}
