.containers {
    display: flex;
    flex-direction: column;
    width: 1152px;
    height: 233px;
    margin: 0 auto;
}

.container1 {
    width: 1113px;
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    justify-content: space-between;
}

.container1 tspan {
    font-size: 25px;
}

.telefone {
    display: flex;
    justify-content: space-between;
    width: 120px;
    align-items: center;
    color: #333333;
}

.telefone img {
    width: 20px;
    height: 20px;
}

.carrinho {
    display: flex;
    justify-content: space-between;
    width: 120px;
    align-items: center;
}

.carrinho img {
    width: 15px;
    height: 20px;
}

.carrinho p {
    color: #a9a9a9;
}
.precoBold {
    font-weight: 600;
    color: #000 !important;
}

.container2 {
    width: 100%;
    height: 109px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container2 ul {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container2 li {
    list-style: none;
}

.container2 a {
    text-transform: uppercase;
    text-decoration: none;
    color: #333333;
}

.container2 a:hover {
    font-weight: bold;
}

.outlet a {
    color: #f90000;
}

@media screen and (max-width: 992px) {
    .containers {
        width: 700px;
    }

    .container1 {
        width: 100%;
    }

    .container2 ul {
        width: 65%;
    }
}

@media only screen and (max-width: 600px) {
    .containers {
        width: 450px;
    }

    .container1 {
        width: 100%;
    }

    .container2 ul {
        width: 100%;
    }
}
