.containersFooter{
    display: flex;
    background-color:aquamarine;
    justify-content: space-around;
}

.containerFooter1 ul{
    list-style: none;
}
.containerFooter2 ul{
    list-style: none;
}

.parteInferior{
    display: flex;
    justify-content: space-around;
}

.parte2 ul{
    list-style: none;
    display: flex;
}

.parte3{
    display: flex;
}