.mainFooter {
    background-color: #fafafa;
}

.containersFooter {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    width: 1152px;
    margin: 0 auto;
    padding: 30px;
}

.containerFooter1 ul {
    list-style: none;
}

.containerFooter1 li {
    margin: 20px;
    font-weight: 600;
    color: #333333;
}

.containerFooter2 ul {
    list-style: none;
}

.containerFooter2 li {
    margin: 20px;
    font-weight: 600;
    color: #333333;
}

.containerFooter3 {
    margin: 20px;
    font-weight: 600;
    color: #333333;
}

.cadastro {
    width: 352px;
    height: 50px;
    background: #ffffff;
    border: 1px solid #c0c0c0;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}

.cadastro:hover {
    background: #333333;
    color: #ffffff;
}

.cadastro p {
    font-weight: 600;
    margin: 10px;
}

.linha {
    border: 1px solid #e7e7e762;
    width: 1152px;
    height: 0;
    margin: 0 auto;
}

.parteInferior {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    width: 1152px;
    margin: 0 auto;
    padding: 30px;
    align-items: center;
}

.parte1 {
    font-weight: 600;
}

.parte2 ul {
    list-style: none;
    display: flex;
}

.parte2 li {
    margin: 15px;
    font-weight: 600;
    color: #333333;
}

.parte3 {
    display: flex;
}

.parte3 img {
    margin: 15px;
}

@media screen and (max-width: 992px) {
    .containersFooter {
        width: 700px;
    }

    .parteInferior {
        width: 100%;
    }
    .linha {
        width: 700px;
    }
}

@media only screen and (max-width: 600px) {
    .containersFooter {
        width: 400px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .parteInferior {
        width: 400px;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .parte2 ul {
        flex-direction: column;
    }

    .linha {
        width: 400px;
    }
}
