.containersProduto {
    width: 1107px;
    margin: 0 auto;
    margin-top: 57px;
}

.amostraProduto {
    display: flex;
    justify-content: space-between;
}

.bannerProduto {
    width: 100%;
    height: 141px;
    background-color: #454545;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.descricaoProduto h1 {
    color: #777777;
    font-size: 29px;
    font-weight: 200;
}

.preco {
    font-size: 29px;
    color: #333333;
    font-weight: 600;
}

.descricao p {
    font-size: 14px;
    color: #929292;
    font-weight: 600;
    height: 181px;
    display: flex;
    align-items: center;
}
.cabecalhoProduto {
    display: flex;
    flex-direction: column;
    height: 264px;
    width: 459px;
}
.tituloValor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 82px;
}

.parteinferiorProduto {
    display: flex;
    flex-direction: column;
}

.cores {
    margin-top: 50px;
    margin-bottom: 32px;
}
.cores h3 {
    text-transform: uppercase;
    font-size: 14px;
    color: #333333;
    text-align: start;
    padding: 0;
    margin-bottom: 20px;
}
.vermelho {
    color: #f90000;
}

.selectCores {
    display: flex;
}

.selectCores input {
    cursor: pointer;
    width: 22px;
    height: 22px;
    margin: 5px;
    padding: 5px;
}

.checkboxAzul > input {
    appearance: none;
    border: none;
    background-color: #0069cb;
    cursor: pointer;
}

.checkboxAzul > input:checked {
    border: 1px solid #666666;
}

.checkboxRosa > input {
    appearance: none;
    border: none;
    background-color: #ff6565;
    cursor: pointer;
}

.checkboxRoxo > input {
    appearance: none;
    border: none;
    background-color: #7854ff;
    cursor: pointer;
}

.checkboxVerde > input {
    appearance: none;
    border: none;
    background-color: #00cd65;
    cursor: pointer;
}

.selectTamanhos {
    width: 195px;
}

.selectTamanhos h3 {
    text-transform: uppercase;
    font-size: 14px;
    color: #333333;
    text-align: start;
    padding: 0;
    margin-bottom: 20px;
}
.selectTamanhos ul {
    display: flex;
}

.selectTamanhos li {
    margin: 5px;
    padding: 5px;
    list-style: none;
    background: #efefef;
    color: #333333;
    font-weight: 550;
    cursor: pointer;
}

.selectTamanhos li:hover {
    background-color: #333333;
    color: #fff;
}

.linha1 {
    border: 1px solid #e7e7e762;
    width: 459px;
    height: 0;
    margin: 0 auto;
}

.contagem {
    display: flex;
    align-items: center;
}

.adicionarMais {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 170px;
    height: 60px;
    background: #ffffff;
    border: 1px solid #cccccc;
}

.retirar {
    color: #cccccc;
    font-weight: 600;
}

.quantidade,
.adicionar {
    font-weight: 600;
}

.sobreProduto h3 {
    text-transform: uppercase;
    font-size: 14px;
    color: #333333;
    text-align: start;
    padding: 0;
}

.containerSobre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    margin-top: 20px;
}

.containerSobre a {
    cursor: pointer;
}

.textoSobre {
    width: 444px;
}

.textoSobre p {
    margin-left: 10px;
    margin-bottom: 30px;
    font-size: 14px;
    color: #929292;
    font-weight: 600;
}

@media screen and (max-width: 992px) {
    .containersProduto {
        width: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .amostraProduto {
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    .containersProduto {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .amostraProduto {
        flex-direction: column;
        width: 450px;
    }

    .carrouselProduto img {
        width: 400px;
    }
}
